.verification {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.success {
  color: var(--button-color);
}

.verification_container {
  border: 1px solid var(--button-color);
  border-radius: 0.5rem;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.loader {
  border: 1px solid pink;
}

.verification_container button {
  color: white;
  background-color: var(--button-color);
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 5rem;
  border-radius: 0.4rem;
}
.password_box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.password {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password label {
  font-size: 1.4rem;
}

.password input {
  border: 2px solid var(--button-color);
  padding: 1.5rem;
  border-radius: 0.4rem;
}

@media (max-width: 500px) {
  .verification_container {
    width: 95%;
    padding: 4rem 0.2rem;
    gap: 2rem;
  }
  .password_box {
    width: 90%;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .verification_container {
    width: 80%;
    padding: 4rem 0.2rem;
    gap: 2rem;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .verification_container {
    width: 70%;
    padding: 4rem 0.2rem;
    gap: 2rem;
  }
}
