@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap");
/*======= CSS RESET =======*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  /* line-height: 1; */
  -webkit-text-size-adjust: 100%; /*  Font property for Safari  */
  -moz-text-size-adjust: 100%; /*  Font property for Firefox  */
  text-size-adjust: 100%; /*  Font property for other browsers  */
  overflow: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  text-align: left;
}

*,
*::before,
*::after,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

input[type="text"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="submit"],
input[type="color"],
input[type="file"],
button,
textarea,
select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="color"] {
  width: 1em;
}

input::-ms-clear {
  display: none;
}

details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

mark {
  background: none;
}

hr {
  height: 1px;
  margin: 0;
  padding: 0;
}

u {
  text-decoration: none;
}

a {
  color: inherit;
  outline: none;
}

.sizes-viewport-dummy {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

html {
  font-size: 17px;
  overflow-x: hidden;
  background: #fff;
}

@media (max-width: 1600px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

@media print {
  html {
    font-size: 10px !important;
  }
}

html.is-theme-dark {
  background: #1a1a1a;
  color: #fff;
}

body {
  font-family: "Source Sans 3", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

p {
  /* margin-bottom: 1em;
  line-height: 1.5em; */
}

p:last-child {
  margin-bottom: 0;
}

p a,
ul a,
ol a {
  text-decoration: underline;
}

li {
  line-height: 1.5em;
}

strong,
.strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

a[href^="mailto"] {
  white-space: nowrap;
}

button {
  cursor: pointer;
}

small {
  font-size: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

/*======= UTILITY CLASS ======= */

/* Theme Color */
:root {
  --dark: #24252d;
  --boxShadow: 2px 2px 20px #1a1a1a;
  --boxCard: 2px 2px 20px #24252d65;
  --light: #ffffff;
  --button-color: #5c43f5;
}

.darkMode {
  background-color: var(--dark);
  color: var(--light);
}

.lightMode {
  background-color: var(--light);
  /* background-color: #f2f6fd; */
  color: var(--dark);
}

.colorWhite {
  color: #fff;
}

.colordark {
  color: #1a1a1a;
}

.buttonColor {
  color: var(--button-color);
}

.imageDark {
  filter: invert(100%);
}
.imageWhite {
  filter: invert(0%);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* ::-webkit-scrollbar-track {
  background-color: var(--dark);
} */

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #5c43f5;
  width: 0.5rem;
}

/*----- Media Queries -----*/
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
